{% extends "global/base.html" %}

{% block busca %}{% endblock busca %}

{% block content %}

    <form action="{% url action_form %}" method="POST">
        {% csrf_token %}
        <fieldset>
          
          {% for field in form %}
            <br><label for={{field.id_for_label}}>{{field.label}}: </label>
            {{field}} <br>
  
              <div class='list_li'>
                  {{field.help_text}}
                  {{field.errors}}
              </div>
                  <br>
              {% endfor %}
  
              {% if  form.non_field_errors %}
                  <br>
                  {% for error in form.non_field_errors %}
                      {{error}}
                  {% endfor %}
                  <br>
              {% endif %}

        </fieldset>
            <br><input type="submit" value="Cadastrar">
    </form> 

{% endblock content %}