{% extends "global/base.html" %}

{% block busca %}{% endblock busca %}

 {% block content %}
    <h4>Login</h4>

    <form action="{% url action_form %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <label for="{{field.id_for_label}}">{{field.label}}: </label>
            {{field}}
            {{field.help_text}}

            {% if  field_errors %}
                {% for error in field.errors %}
                   <div class="alert alert-warning">
                    {{error}}
                   </div>
                {% endfor %}
            {% endif %}
        {% endfor %}

        {% if  form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-warning">
                  {{error}}
                </div>
              {% endfor %}
        {% endif %}

        <br><input type="submit" value="Submit">
    </form>

    {% if criar_gerente %}
      <br><a href="{% url criar_gerente %}">Criar Conta</a>   
    {% endif %}

{% endblock content %}