{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% include 'global/partials/_head.html' %}

<body>
    <header>
        <h1>Sistema Bibliotecário</h1>
        <nav>
            {% block menu %}
            <a href="{% url 'sistema:solicitacoes' %}">Solicitações</a>
            <a href="{% url 'sistema:funcionarios' %}">Funcionários</a>
            <a href="{% url 'sistema:logout_gerente' %}">Logout</a>
            {% endblock menu %}
        </nav>
    </header>

    <main>
        {% include "global/partials/_messages.html" %}
        {% block content %}{% endblock content %}
        {% include "global/partials/_pagination.html" %}
    </main>

    <footer>
        {% include "global/partials/_footer.html" %}
    </footer>

</body>

</html>