{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% include 'global/partials/_head.html' %}

<body>
    <header>
        <h1>Sistema Bibliotecário</h1>
        <nav>
            {% block menu %}
                {% include "global/partials/_menu_link.html" %}
            {% endblock menu %}
            {% block busca %}
                {% include "global/partials/_search.html" %}
            {% endblock busca %}
        </nav>
    </header>

    <main>
        {% include "global/partials/_messages.html" %}
        {% block content %}{% endblock content %}
        {% include "global/partials/_pagination.html" %}
    </main>

    <footer>
        {% include "global/partials/_footer.html" %}
    </footer>

</body>

</html>