{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static "global/base.css" %}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<header>
    <h1>Sistema Bibliotecário</h1>
    <nav>
        {% block menu %}
              <a href={% url "sistema:livros_emprestar" %}>Realizar empréstimos</a>
              <a href="{% url "sistema:ver_emprestimos" %}">Visualizar Empréstimos</a>
              <a href=''>Status do Empréstimo</a>
              <a href=''>renovar Empréstimos </a>
              <a href="{% url "sistema:livros_excluir" %}">Voltar</a>
       {% endblock menu %}
       {% block busca %}{% endblock busca %}
    </nav>
</header>

<body>
    <main>
        {% block content %}{% endblock content %}
    </main>
    
</body>
</html>
