{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static " global/base.css" %}">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<header>
    <h1>Sistema Bibliotecário</h1>
    <nav>
        {% block menu %}
        <a href="{% url "sistema:cadastrar_usuario" %}">cadastrar Usuário</a>
        <a href="{% url "sistema:cadastrar_livro" %}">cadastrar Livro</a>
        <a href={% url "sistema:livros_emprestar" %}>Emprétimo</a>
        <a href={% url "sistema:livros_excluir" %}>Remover Livro</a>
        <a href="{% url "sistema:exclui_usuario" %}">Remover Usuário</a>
        <a href="{% url "sistema:logout_funcionario" %}">Logout</a>
        {% endblock menu %}
        {% block busca %}{% endblock busca %}
    </nav>
</header>

<body>
    <main>
        {% block content %}{% endblock content %}
    </main>

</body>

</html>