{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% include 'global/partials/_head.html' %}

<body>

    <header>
        <h1>Sistema Bibliotecário</h1>
        <nav>
            {% block menu %}
            <a href="{% url 'sistema:cadastrar_usuario' %}">cadastrar Usuário</a>
            <a href="{% url 'sistema:cadastrar_livro' %}">cadastrar Livro</a>
            <a href="{% url 'sistema:livros_emprestar' %}">Emprétimo</a>
            <a href="{% url 'sistema:livros_excluir' %}">Remover Livro</a>
            <a href="{% url 'sistema:ver_usuarios' %}">Remover Usuário</a>
            <a href="{% url 'sistema:logout_funcionario' %}">Logout</a>
            {% endblock menu %}

            {% block busca %}{% endblock busca %}
        </nav>
    </header>

    <main>
        {% block content %}{% endblock content %}
        {% include "global/partials/_pagination.html" %}
    </main>

    <footer>
        {% include "global/partials/_footer.html" %}
    </footer>

</body>

</html>