{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% include 'global/partials/_head.html' %}

<body>
    <header>
        <h1>Sistema Bibliotecário</h1>
        <nav>
            {% block menu %}
            <a href="{% url 'sistema:livros_emprestar' %}">Realizar empréstimos</a>
            <a href="{% url 'sistema:ver_emprestimos' %}">Visualizar Empréstimos</a>
            <a href='{% url "sistema:status_emprestimo" %}'>Status do Empréstimo</a>
            <a href="{% url 'sistema:ver_emprestimo_renovar' %}">renovar Empréstimos </a>
            <a href="{% url 'sistema:livros_excluir' %}">Voltar</a>
            {% endblock menu %}
            {% block busca %}{% endblock busca %}
        </nav>
    </header>

    <main>
        {% include "global/partials/_messages.html" %}
        {% block content %}{% endblock content %}
        {% include "global/partials/_pagination.html" %}
    </main>

    <footer>
        {% include "global/partials/_footer.html" %}
    </footer>

</body>

</html>