{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

{% include 'global/partials/_head.html' %}

<header>
    <h1>Sistema Bibliotecário</h1>
    <nav>
        {% block menu %}
        <a href="{% url 'sistema:login_funcionario' %}">Login Funcionário</a>
        <a href="{% url 'sistema:login_gerente' %}">Login Gerente</a>
        <a href="{% url 'sistema:cadastrar_funcionario' %}">Cadastrar Funcionário</a>
        {% endblock menu %}
    </nav>
</header>

<body>

    <main>
        {% include "global/partials/_messages.html" %}
        {% block content %}{% endblock content %}
        {% include "global/partials/_pagination.html" %}
    </main>

    <footer>
        {% include "global/partials/_footer.html" %}
    </footer>

</body>

</html>