{% extends "global/base.html" %}

{% load filtros %}

{% block content %}
    {% if page_obj %}
        <table>

        <caption>emprestimos</caption>
        <thead>
            <tr>
                <th>Nome usuário</th>
                <th>Cpf usuário</th>
                <th>emprestimo data</th>
                <th>status</th>
                <th>Data devolucão</th>
                <th>Livro nome</th>

            </tr>
        </thead>
        <tbody>
        {% for emprestimo in page_obj %}
            <tr>    
                <td>
                    <a href="{% url link_views_acao emprestimo.id %}" class="link" >
                        {{emprestimo.user_name}}
                    </a>
                </td>

                <td>
                    <a href="{% url link_views_acao emprestimo.id %}" class="link" >
                        {{emprestimo.user_cpf }}
                    </a>
                </td>

                <td>
                <a href="{% url link_views_acao emprestimo.id %}" class="link" >
                    {{emprestimo.emprestimo_data }}
                    </a>
                </td>

                <td>
                <a href="{% url link_views_acao emprestimo.id %}" class="link" >
                    {{emprestimo|status }}
                    </a>
                </td>
                <td>
                <a href="{% url link_views_acao emprestimo.id %}" class="link" >
                {{emprestimo.devolucao_data }}
                </a>
                </td>
                <td>
                <a href="{% url link_views_acao emprestimo.id %}" class="link" >
                {{emprestimo.livro_info}}
                </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

        </table>

    {% else %}
            Nenhum empréstimo encontrado
    {% endif %}
{% endblock content %}
