{% extends link_base_html %}


{% block menu %}
    <a href={% url link_view_voltar %}>Voltar</a><br>
{% endblock menu %}


{% block content %}
    <h4>Livro</h4>
    <form action="{% url link_acao livro.id %}" method="post">
        <ul>
            <li>Nome: {{livro.nome}}</li>
            <li>Id: {{livro.livro_id}}</li>
            <li>Autor: {{livro.autor}}</li>
            <li>Editora: {{livro.editora}}</li>
            <li>Ano: {{livro.ano}}</li>
        </ul>
        <br>
        {% if acao_label == "Excluir Livro" %}
            <label for="excluir">Motivo exclusao:</label>
            <textarea name="motivo_exclusao" id="excluir" cols="30" rows="5" required></textarea> <br>
        {% endif %}
        <input type="submit" value={{acao_label}}>
    </form>
{% endblock content %}
