{% extends "global/base.html" %}

{% block content %}
    {% if page_obj %}
         <table>

            <caption>Livros</caption>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Autor</th>
                    <th>Editora</th>
                    <th>Ano</th>
                    <th>situação</th>

                </tr>
            </thead>
            <tbody>
                {% for livro in page_obj %}
                    <tr>    
                        <td>
                            <a href="{% url link_views_acao livro.id %}" class="link" >
                                {{livro.livro_id}}
                            </a>
                        </td>
        
                        <td>
                            <a href="{% url link_views_acao livro.id %}" class="link" >
                                {{livro.nome }}
                            </a>
                        </td>
        
                        <td>
                        <a href="{% url link_views_acao livro.id %}" class="link" >
                            {{livro.autor }}
                            </a>
                        </td>
        
                        <td>
                        <a href="{% url link_views_acao livro.id %}" class="link" >
                            {{livro.editora }}
                            </a>
                        </td>
                        <td>
                        <a href="{% url link_views_acao livro.id %}" class="link" >
                        {{livro.ano }}
                        </a>
                        </td>
                        <td>
                        <a href="{% url link_views_acao livro.id %}" class="link" >
                            {% if livro.emprestado %}
                                Emprestado
                            {% else %}
                                Disponível
                            {% endif %}
                        </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>

    {% else %}
            Nenhum Livro Encontrado
    {% endif %}
{% endblock content %}