{% extends link_base_html %}


{% block busca %}
    <form action="{% url link_busca %}" method="get">
        <input type="text" name="q" id="busca">
    </form>
{% endblock busca %}

{% block content %}
    {% if objetos_pagina %}
         <table>

            <caption>Livros</caption>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Autor</th>
                    <th>Editora</th>
                    <th>Ano</th>
                    <th>Emprestado</th>
                   
                </tr>
            </thead>
        <tbody>
        {% for livro in objetos_pagina %}
            <tr>    
                <td>
                    <a href="{% url link_views_acao livro.id %}" class="link" >
                        {{livro.livro_id}}
                    </a>
                </td>
                
                <td>
                    <a href="{% url link_views_acao livro.id %}" class="link" >
                        {{livro.nome }}
                    </a>
                </td>

                <td>
                <a href="{% url link_views_acao livro.id %}" class="link" >
                    {{livro.autor }}
                    </a>
                </td>

                <td>
                <a href="{% url link_views_acao livro.id %}" class="link" >
                    {{livro.editora }}
                    </a>
                </td>
                <td>
                <a href="{% url link_views_acao livro.id %}" class="link" >
                {{livro.ano }}
                </a>
                </td>
                <td>
                <a href="{% url link_views_acao livro.id %}" class="link" >
                {{livro.emprestado }}
                </a>
                </td>
			</tr>
        {% endfor %}
        </tbody>
            
        </table>

            {% for numero_pagina in objetos_pagina.paginator.page_range %}
                <a href="{% url link_views_origem numero_pagina %}">{{numero_pagina}}</a>
            {% endfor %}
    {% else %}
            Nenhum Livro Encontrado
    {% endif %}
{% endblock content %}
