{% extends "global/base.html" %}

{% block menu %}
        <a href="{% url link_template_voltar %}">Voltar</a>
{% endblock menu %}
{% block busca %}{% endblock busca %}

{% block content %}
        <br><br>        
        <h3>Funcionário</h3>
            <ul>
                <li>Nome: {{usuario.nome_completo}}</li>
                <li>cpf: {{usuario.cpf}}</li>
                <li>telefone: {{usuario.telefone}}</li>
                <li>email: {{usuario.email}}</li>
                <li>Nascimento: {{usuario.nascimento}}</li>
                <li>Idade: {{usuario.nascimento}}</li>
                <li>Estado: {{usuario.estado}}</li>
                <li>Cidade: {{usuario.cidade}}</li>
                <li>Instituição: {{usuario.cidade}}</li>
                <li>Rua: {{usuario.cidade}}</li>
                <li>Numero: {{usuario.cidade}}</li>
            </ul> 

        <form action="{% url acao_link usuario.id  %}" method="post">
                <input type="submit" value={{acao_label}}>
        </form>
{% endblock content %}
