{% extends "global/base.html" %}

{% block menu %}
        <a href="{% url link_template_voltar %}">Voltar</a>
{% endblock menu %}


{% block content %}
        <br><br>        
        <h3>Funcionário</h3>
        <form action="{% url acao_link funcionario.id  %}" method="post">
                <ul>
                        <li>Nome: {{funcionario.nome_completo}}</li>
                        <li>cpf: {{funcionario.cpf}}</li>
                        <li>telefone: {{funcionario.telefone}}</li>
                        <li>email: {{funcionario.email}}</li>
                        <li>Nascimento: {{funcionario.nascimento}}</li>
                        <li>Estado: {{funcionario.estado}}</li>
                        <li>Cidade: {{funcionario.cidade}}</li>
                </ul> 
                <input type="submit" value={{acao_label}}>
        </form>
{% endblock content %}


