{% extends "global/base.html" %}

{% block menu %}
       <a href= "{% url "sistema:solicitacoes"%}" >solicitacoes</a>
       <a href= "{% url "sistema:funcionarios"%}" >Gerenciar Funcionarios</a>
       <a href="sistema: login">Logout</a>        
{% endblock menu %}


{% block busca %}
    <form action="{{busca_action}}" method="get">
        <input type="text" name="q" id="busca" placeholder="busca"> 
    </form>

{% endblock busca %}


{% block content %}
    {% if objetos_pagina %}
        <h2>Funcionários</h2>
        {% for funcionario in objetos_pagina %}
            <a href={% url link_views_acao funcionario.id%}>
                <h4>Funcionário</h4>
                <ul>
                    <li>Nome: {{funcionario.nome_completo}}</li>
                    <li>cpf: {{funcionario.cpf}}</li>
                    <li>telefone: {{funcionario.telefone}}</li>
                    <li>E-mail: {{funcionario.email}}</li>
                    <li>Nascimento: {{funcionario.nascimento}}</li>
                    <li>Estado: {{funcionario.estado}}</li>
                    <li>Cidade: {{funcionario.cidade}}</li>
                </ul>
            </a>
                <br>
        {% endfor %}

        {% for numero_pagina in objetos_pagina.paginator.page_range %}
            <a href="{% url link_views_origem numero_pagina %}">{{numero_pagina}}</a>
        {% endfor %}

    {% else %}
            Nenhum Funcionário Encontrado
    {% endif %}
{% endblock content %}
