{% extends link_base_html %}

{% if busca_action %}
    {% block busca %}
        <form action="{{busca_action}}" method="get">
            <input type="text" name="q" id="busca" placeholder="busca"> 
        </form>

    {% endblock busca %}
{% endif %}


{% block content %}
    {% if objetos_pagina %}
        <table>

            <caption>{{tabela_titulo}}</caption>
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome Completo</th>
                    <th>Cpf</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>estado</th>
                   
                </tr>
            </thead>

            {% for pessoa in objetos_pagina %}
            <tr>    
                <td>
                    <a href="{% url link_views_acao pessoa.id %}" class="link" >
                        {{pessoa.id}}
                    </a>
                </td>
                
                <td>
                    <a href="{% url link_views_acao pessoa.id %}" class="link" >
                {{pessoa.nome_completo }}
                </a>
                </td>

                <td>
                <a href="{% url link_views_acao pessoa.id %}" class="link" >
                    {{pessoa.cpf }}
                    </a>
                </td>

                <td>
                <a href="{% url link_views_acao pessoa.id %}" class="link" >
                    {{pessoa.telefone }}
                    </a>
                </td>
                <td>
                <a href="{% url link_views_acao pessoa.id %}" class="link" >
                {{pessoa.email }}
                </a>
                </td>
                <td>
                <a href="{% url link_views_acao pessoa.id %}" class="link" >
                {{pessoa.estado }}
                </a>
                </td>
			</tr>
            {% endfor %}
            

        </table>

        {% for numero_pagina in objetos_pagina.paginator.page_range %}
            <a href="{% url link_views_origem numero_pagina %}">{{numero_pagina}}</a>
        {% endfor %}

    {% else %}
            Ninguém Encontrado
    {% endif %}
{% endblock content %}
